<html>
    <head>
        <link href='assets/skeleton.css' type='text/css' rel='stylesheet'/>
        <link href='assets/style.css' type='text/css' rel='stylesheet'/>
    </head>
    
    <body>
        <div class="container">
            <h1>Lunch i Kramfors</h1>
            <p>Trött på att behöva leta igenom hela stans alla lunchställen för att hitta dagens bästa lunch? Nu kan du andas ut, för räddningen är här!</p>
            <button>Dag</button><button>Vecka</button>
            <h2>Måndag 6:e mars</h2>
            <div class="row">
                <div class="three columns offset-by-one">
                    <h4>Hotell Kramm</h4>
                    <p>Stekt fiskfilé med romsås och kokt potatis</p>
                    <p>Fläskkarré provencale med champinjonsås och kokt potatis</p>
                    <p>Dagens pasta</p>
                    <p>Veg: Kikärtsgryta</p>
                </div>
                <div class="three columns offset-by-one">
                    <h4>Strike</h4>
                    <p>Fyllda crêpes med räkor och champinjoner</p>
                    <p>Baconlindad kyckling med ädelostsås och rostad potatis</p>
                </div>
                <div class="three columns offset-by-one">
                    <h4>Vallen</h4>
                    <p>Ärtsoppa. Pannkakor med sylt och vispad grädde</p>
                    <p>Biff à la Stroganoff med ris</p>
                    <p>Spaghetti Köttfärssås</p>
                </div>
                <div class="three columns">
                </div>
            </div>
        </div>
    </body>
</html>