<html>
    <head>
        <link href='assets/skeleton.css' type='text/css' rel='stylesheet'/>
        <link href='assets/style.css' type='text/css' rel='stylesheet'/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Playfair+Display:400,700" rel="stylesheet">
    </head>
    
    <body>
        <div class="landing-container">
            <div class="left-side-landing">
                <div class="darken">
                    <h1 class="white">Lunch i Kramfors</h1>
                    <h3 class="white">Allt på samma ställe</h3>
                </div>
            </div>
            <div class="right-side-landing">

            </div>
        </div>
    </body>
</html>