<html>
    <head>
        <link href='assets/skeleton.css' type='text/css' rel='stylesheet'/>
        <link href='assets/style.css' type='text/css' rel='stylesheet'/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Playfair+Display:400,700" rel="stylesheet">
    </head>
    
    <body>
        <div class="landing-container">
            <div class="left-side-landing">
                <div class="darken">
                    <h1 class="white">Lunch i Kramfors</h1>
                    <h3 class="white">Vad blir det för mat?</h3>
                </div>
            </div>
            <div class="right-side-landing">
                
                <h2 class="black">Onsdag 8 mars</h2>
                <div class="line"></div>
                
                <div class="section">    
                    <h3 class="accent">Hotell Kramm</h3>
                    <div class="lunch-info-row">
                        <h4 class="accent-light">11:00 - 13:30</h4>
                        <h4 class="accent-light">Pris: 90kr</h4>
                    </div>
                    <p>Raggmunk med stekt fläsk samt lingonsylt</p>
                    <p>Gratinerad fisk på spenatbädd med vitvinssås samt kokt potatis</p>
                </div>
                
                <div class="section">    
                    <h3 class="accent">Strike</h3>
                    <div class="lunch-info-row">
                        <h4 class="accent-light">11:00 - 13:30</h4>
                        <h4 class="accent-light">Pris: 90kr</h4>
                    </div>
                    <p>Stekt rödspätta med räksås och kokt potatis</p>
                    <p>Plommonspäckad fläskkarré med sås och potatis</p>
                </div>
                
                <div class="section">    
                    <h3 class="accent">Restaurang Vallen</h3>
                    <div class="lunch-info-row">
                        <h4 class="accent-light">11:00 - 13:00</h4>
                        <h4 class="accent-light">Pris: 90kr</h4>
                    </div>
                    <p>Stekt schnitzel med kokt potatis och sås</p>
                    <p>Brynt korv från falun med vattenmarinerade snabbmakaroner och tomatketchup</p>
                </div>
                
                <div class="section">    
                    <h3 class="accent">Xprezz</h3>
                    <div class="lunch-info-row">
                        <h4 class="accent-light">11:00 - 14:00</h4>
                        <h4 class="accent-light">Pris: 75kr</h4>
                    </div>
                    <p>Ugnsbakad lasagne med lasagneplattor, bechamelsås och köttfärs</p>
                    <p>Mysfredagstacotallrik med guacamole och cola för hela slantn</p>
                </div>
                
            </div>
        </div>
    </body>
</html>