<html>
    <head>
        <link href='assets/skeleton.css' type='text/css' rel='stylesheet'/>
        <link href='assets/style.css' type='text/css' rel='stylesheet'/>
    </head>
    
    <body>
        <div class="container">
            <h1>Timestamp API</h1>
            <p><strong>by <a href="http://www.pontusjansson.se" target="_blank">Pontus Jansson</a></strong></p>
            <p>This is a simple API built as a challenge from freeCodeCamp. The challenge is to fulfill the following user stories:</p>
            <ul>
                <li>I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)</li>
                <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
                <li>If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
            </ul>
            <p><strong>Example usage:</strong></p>
            <p><code>https://blooming-ravine-22602.herokuapp.com/December%2015,%202015</code></p>
            <p><code>https://blooming-ravine-22602.herokuapp.com/1450137600</code></p>
            <p><strong>Example output:</strong></p>
            <p><code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code></p>
            <a class="button button-primary" href="/December%2015,%202015">Try it</a>
        </div>
    </body>
</html>