<html>
    <head>
        <link href='assets/skeleton.css' type='text/css' rel='stylesheet'/>
        <link href='assets/style.css' type='text/css' rel='stylesheet'/>
    </head>
    
    <body>
        <a href="./">Förstasidan</a>
            <form>
                <div class="row">
                    <div class="two columns offset-by-one">
                        <h4>Måndag</h4>
                        
                        <label for="food11">Alternativ 1</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food11">
                        
                        <label for="food12">Alternativ 2</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food12">
                        
                        <label for="food13">Alternativ 3</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food13">
                        
                        <input class="button-primary" type="submit" value="Submit">
                    </div>
                    
                    <div class="two columns">
                        <h4>Tisdag</h4>
                        
                        <label for="food21">Alternativ 1</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food21">
                        
                        <label for="food22">Alternativ 2</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food22">
                        
                        <label for="food23">Alternativ 3</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food23">
                    </div>
                    
                    <div class="two columns">
                        <h4>Onsdag</h4>
                        
                        <label for="food31">Alternativ 1</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food31">
                        
                        <label for="food32">Alternativ 2</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food32">
                        
                        <label for="food33">Alternativ 3</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food33">
                    </div>
                    
                    <div class="two columns">
                        <h4>Torsdag</h4>
                        
                        <label for="food41">Alternativ 1</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food41">
                        
                        <label for="food42">Alternativ 2</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food42">
                        
                        <label for="food43">Alternativ 3</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food43">
                    </div>
                    
                    <div class="two columns">
                        <h4>Fredag</h4>
                        
                        <label for="food51">Alternativ 1</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food51">
                        
                        <label for="food52">Alternativ 2</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food52">
                        
                        <label for="food53">Alternativ 3</label>
                        <input class="u-full-width" type="text" placeholder="Maträtt" id="food53">
                    </div> 
                </div>
            </form>
    </body>
</html>